.layui-layout-admin .header {
	background-color: #393D49;
}

.header .layui-main {
	margin: 0;
}

.nav-user {
	float: right;
}

.layui-layout-admin .footer {
	text-align: center;
	color: #666;
	font-weight: 300;
}