/* 顶部导航栏
 ———————————————————————————————————————————————————————————————————————————— */

.header {
    min-width: 1140px;
    background-color: #393D49;
}

.header .diet-main {
    height: 60px;
    background-color: #393D49;
}

.diet-logo {
    float: left;
    width: 135px;
    background: url(../img/logo.png) no-repeat left center;
    height: 60px;
}

.diet-logo a {
    display: block;
    height: 100%;
    width: 100%;
}

.nav-user {
    float: right;
}

.searchBox {
	position: relative;
    float: left;
    top: 16;
    left: 20;
    width: 220px;
    height: 30px;
}

.searchBox input[type=text] {
	position: absolute;
    border: 0;
    border-radius: 0px;
    left: 0;
    top: 0;
    padding-left: 12px;
    height: 30px;
    width: 220px;
    color: #fff;
    font-size: 12px;
    background-color: rgba(255,255,255,.05);
}

.searchBox input[type=submit] {
    position: absolute;
    border-radius: 0px;
    right: 0;
    top: 0;
    font-size: 12px;
}

/* 横幅
 ———————————————————————————————————————————————————————————————————————————— */

.diet-banner {
    margin: 15px auto 15px auto;
}

/* 底部
 ———————————————————————————————————————————————————————————————————————————— */

.footer {
    background-color: #393D49;
}

.diet-footer {
    min-height: 14px;
    padding: 1.5% 10px 1.5% 10px;
    background-color: #393D49;
 }

.diet-footer p {
    display: block;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
}