/* 顶部导航栏
 ———————————————————————————————————————————————————————————————————————————— */

.header {
    min-width: 1140px;
    background-color: #393D49;
}

.header .diet-main {
    height: 60px;
    background-color: #393D49;
}

.diet-logo {
    float: left;
    width: 135px;
    background: url(../img/logo.png) no-repeat left center;
    height: 60px;
}

.diet-logo a {
    display: block;
    height: 100%;
    width: 100%;
}

.nav-user {
    float: right;
}

/* 横幅
 ———————————————————————————————————————————————————————————————————————————— */

.diet-banner {
    margin: 15px auto 15px auto;
}

/* 底部
 ———————————————————————————————————————————————————————————————————————————— */

.footer {
    background-color: #393D49;
}

.diet-footer {
    min-height: 14px;
    padding: 1.5% 10px 1.5% 10px;
    background-color: #393D49;
 }

.diet-footer p {
    display: block;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
}