
.member-main {
    position: relative;
    min-height: 830px;
}

/* 左侧导航栏
 ———————————————————————————————————————————————————————————————————————————— */

.member-main .layui-nav {
    position: absolute;
    min-height: 830px;
}

.member-main .layui-nav i {
    top: 2px;
    font-size: 20px;
    margin-right: 10px;
}

/* 右侧显示内容
 ———————————————————————————————————————————————————————————————————————————— */

.member-main .member-panel {
    margin: 0 0 0 215px;
    min-height: 830px;
}

.member-panel {
    background-color: #fff;
}

/* 我的资料
 ———————————————————————————————————————————————————————————————————————————— */