
/* 登录&注册
 ———————————————————————————————————————————————————————————————————————————— */

.login-main {
    margin: 15px auto 15px auto;
    min-height: 820px;
    text-align: center;
}

.login-box {
    padding: 60px 40px;
    min-height: 700px;
    background-color: #fff;
}

.login-nav {
    text-align: center;
}

.login-form {
    width: 500px;
    padding: 30px 250px;
}

.btn-sumbit {
    width: 180px;
    float: left;
}

.btn-reset {
    width: 180px;
    float: right;
}